@model TreatmentDetailsViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Toevoegen</h1>

<h4>Behandeling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-danger">
                @Html.DisplayFor(model => model.error)
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label">Behandeltype</label>
                @Html.DropDownListFor(
                    x => x.TypeId,
                    new SelectList(Model.VTreatments, "Id", "CombinedField", Model.TypeId),
                    "-- Select --", new { @class = "form-control" }
               )
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Beschrijving</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="control-label">Kamer</label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Notitie</label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisibleForPatient" class="control-label">Notitie zichtbaar voor patient</label>
                <input asp-for="VisibleForPatient" class="form-control" />
                <span asp-validation-for="VisibleForPatient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaretakerId" class="control-label">Medewerker</label>
                @Html.DropDownListFor(
                    x => x.CaretakerId,
                    new SelectList(Model.Physios, "PhysiotherapistId", "Fullname", Model.CaretakerId),
                    "-- Select --", new { @class = "form-control" }
               )
                <span asp-validation-for="CaretakerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentDate" class="control-label">Behandeldatum</label>
                <input asp-for="TreatmentDate" value="@DateTime.Now.ToString("s")" class="form-control" />
                <span asp-validation-for="TreatmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientFileId" class="control-label">Patient dossier van</label>
                @Html.DropDownListFor(
                    x => x.PatientFileId,
                    new SelectList(Model.PatientFiles, "PatientFileId", "Pat", Model.PatientFileId),
                    "-- Select --", new { @class = "form-control" }
               )
                <span asp-validation-for="PatientFileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

